# Imbalanced Cases MAJ

### Scenario

You are working as an analyst with this internet service provider. You are provided with this historical data about your company's customers and their churn trends. Your task is to build a machine learning model that will help the company identify customers that are more likely to default/churn and thus prevent losses from such customers.

### Instructions

In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned on the class. Here is the list of steps to be followed (building a simple model without balancing the data):

## Round 1

Import the required libraries and modules that you would need.

Read that data into Python and call the dataframe churnData.

Check the datatypes of all the columns in the data.You would see that the column TotalCharges is object type.

Convert this column into numeric type using pd.to_numeric function.

Check for null values in the dataframe. Replace the null values.

Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:

Split the data into a training set and a test set.

Scale the features either by using MinMaxScaler or a standard scaler.

(Optional) Encode the categorical variables so you can use them for modeling later.

In [1]:
# Import the required libraries and modules that you would need.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Read that data into Python and call the dataframe churnData.
churnData = pd.read_csv('/Users/ismaelcisse/Downloads/DATA_Customer-Churn.txt')

In [3]:
churnData

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [4]:
# Check the datatypes of all the columns in the data.You would see that the column TotalCharges is object type.
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [5]:
churnData[['TotalCharges']].dtypes

TotalCharges    object
dtype: object

In [6]:
# Convert this column into numeric type using pd.to_numeric function.
churnData['TotalCharges'] = churnData[['TotalCharges']].applymap(lambda x: pd.to_numeric(x, errors='coerce'))

In [7]:
churnData[['TotalCharges']].dtypes

TotalCharges    float64
dtype: object

In [8]:
# Check for null values in the dataframe. Replace the null values.
churnData.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [9]:
churnData.loc[churnData['TotalCharges'].isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,Yes,No,Yes,Yes,Yes,No,Two year,52.55,NaN,No
753,Male,0,No,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,20.25,NaN,No
936,Female,0,Yes,Yes,0,Yes,Yes,Yes,Yes,No,Yes,Yes,Two year,80.85,NaN,No
1082,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,25.75,NaN,No
1340,Female,0,Yes,Yes,0,No,Yes,Yes,Yes,Yes,Yes,No,Two year,56.05,NaN,No
3331,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.85,NaN,No
3826,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,25.35,NaN,No
4380,Female,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,20.00,NaN,No
5218,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.70,NaN,No
6670,Female,0,Yes,Yes,0,Yes,No,Yes,Yes,Yes,Yes,No,Two year,73.35,NaN,No
6754,Male,0,No,Yes,0,Yes,Yes,Yes,No,Yes,No,No,Two year,61.90,NaN,No

In [10]:
from sklearn.impute import SimpleImputer, KNNImputer

In [11]:
#df["Age_inputed"] = imputer.fit_transform(df[["Age"]])

#df["Cabin_inputed"] = df["Cabin"].fillna(df["Cabin"].mode()[0])

#imputer = SimpleImputer(strategy='most_frequent')
#df["Cabin_inputed"] = imputer.fit_transform(df[["Cabin"]])

#imputer = KNNImputer(n_neighbors=5)
#df["Age_inputed"] = imputer.fit_transform(df[["Age"]])
churnData["TechSupport"].value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

In [12]:
churnData["TotalCharges"] = churnData['TotalCharges'].fillna(churnData["tenure"]*churnData["MonthlyCharges"])

In [13]:
#imputer = KNNImputer(n_neighbors=5)
#churnData["TotalCharges"] = imputer.fit_transform(churnData[["TotalCharges"]])

In [13]:
churnData["TotalCharges"].isna().sum()

0

In [14]:
churnData.loc[churnData['MonthlyCharges']== 19.70]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
154,Female,0,Yes,Yes,6,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,113.50,No
294,Female,0,No,No,12,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,220.35,No
404,Male,0,No,No,20,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,419.40,No
623,Female,0,No,No,20,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,406.95,No
756,Male,0,No,No,66,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1253.80,No
1303,Female,0,Yes,Yes,69,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1396.90,No
1613,Male,0,No,No,34,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,675.60,No
1717,Male,0,Yes,No,72,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1421.90,No
1814,Male,0,Yes,Yes,12,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,258.35,No
1843,Female,0,Yes,Yes,71,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1415.85,No
1872,Female,0,Yes,Yes,41,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,804.25,No
1933,Male,0,No,No,20,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,415.90,No
2352,Male,0,No,No,8,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,168.90,No
2358,Female,0,Yes,No,55,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,1140.05,No
2402,Male,0,No,Yes,6,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,111.65,No
2461,Female,0,No,No,70,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,1341.50,No
2678,Male,0,No,No,30,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,625.05,No
2768,Female,0,No,No,12,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,260.90,No
2876,Male,0,No,No,19,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,386.50,No
3234,Female,0,Yes,Yes,24,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,452.55,No
3468,Male,0,Yes,Yes,1,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,19.70,No
3528,Male,0,No,No,16,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,342.40,Yes
3636,Female,0,No,Yes,11,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,216.20,No
3892,Female,0,No,No,17,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,340.35,No
3933,Male,0,No,No,9,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,180.70,No
4116,Female,0,Yes,Yes,20,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,395.60,No
4245,Male,0,Yes,Yes,63,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1275.85,No
4280,Male,0,Yes,Yes,64,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1274.05,No
4758,Female,0,No,No,56,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1051.90,No
4770,Female,0,Yes,Yes,6,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,94.45,No
4999,Female,0,Yes,Yes,16,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,301.55,No
5018,Female,0,Yes,Yes,72,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1379.80,No
5218,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,0.00,No
5327,Female,0,Yes,Yes,30,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,599.25,No
5455,Female,0,No,No,6,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,129.55,No
5673,Male,0,No,No,4,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.7,117.80,No
5719,Female,0,Yes,Yes,24,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,494.05,No
5882,Female,0,Yes,Yes,14,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,263.65,No
6294,Male,0,No,No,1,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.7,19.70,Yes
6349,Female,0,Yes,Yes,35,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,730.40,No
6568,Male,0,Yes,Yes,8,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,130.25,No
6614,Male,0,Yes,Yes,71,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,1301.10,No
6920,Male,0,No,Yes,27,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.7,509.30,No

In [16]:
#churnData.loc[churnData['MonthlyCharges']== 19.70]
churnData

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [52]:
# Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges.
X = churnData[["tenure", "SeniorCitizen", "MonthlyCharges", "TotalCharges"]]
Y = churnData['Churn']

In [17]:
# Split the data into a training set and a test set.
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=532)

In [18]:
X_test.describe().T

,count,mean,std,min,25%,50%,75%,max
tenure,1409.0,33.440028,24.829578,0.0,9.00,31.00,57.00,72.00
SeniorCitizen,1409.0,0.166785,0.372916,0.0,0.00,0.00,0.00,1.00
MonthlyCharges,1409.0,64.644216,30.399639,18.8,34.70,70.60,89.85,118.75
TotalCharges,1409.0,2344.614904,2307.724643,0.0,420.45,1438.05,3875.40,8672.45

In [19]:
X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
tenure,5634.0,32.103834,24.486396,0.00,9.000,28.000,55.000,72.0
SeniorCitizen,5634.0,0.160987,0.367551,0.00,0.000,0.000,0.000,1.0
MonthlyCharges,5634.0,64.791072,30.014770,18.25,35.825,70.275,89.850,118.6
TotalCharges,5634.0,2263.508395,2256.358225,0.00,393.225,1384.175,3769.925,8684.8

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
# Scale the features either by using MinMaxScaler or a standard scaler.
scaler = StandardScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.fit_transform(X_test)

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [26]:
pd.DataFrame(X_scaled)

             0    1         2         3
0     0.013889  0.0  0.115423  0.003437
1     0.472222  0.0  0.385075  0.217564
2     0.027778  0.0  0.354229  0.012453
3     0.625000  0.0  0.239303  0.211951
4     0.027778  0.0  0.521891  0.017462
...        ...  ...       ...       ...
7038  0.333333  0.0  0.662189  0.229194
7039  1.000000  0.0  0.845274  0.847792
7040  0.152778  0.0  0.112935  0.039892
7041  0.055556  1.0  0.558706  0.035303
7042  0.916667  0.0  0.869652  0.788101

[7043 rows x 4 columns]

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    precision_recall_curve, roc_curve, roc_auc_score)

In [69]:
model = LogisticRegression()

In [79]:
model.fit(X_train_normalized, Y_train)
Y_scores = model.predict_proba(X_train_normalized)
Y_score = Y_scores[:, 1]

## Round 2

(Optional) Fit a logistic Regression model on the training data.

Fit a Knn Classifier (NOT KnnRegressor please!)model on the training data.

Fit a Decision Tree Classifier on the training data.

Compare the accuracy, precision, recall for the previous models on both the train and test sets.

In [29]:
# Fit a Knn Classifier (NOT KnnRegressor please!)model on the training data.

from sklearn.neighbors import KNeighborsClassifier

In [32]:
X_train_scaled = scaler.fit_transform(X_train)

In [33]:
X_test_scaled = scaler.transform(X_test)

In [35]:
knn = KNeighborsClassifier()
knn.fit(X_train_scaled, Y_train)

KNeighborsClassifier()

In [47]:
y_pred = knn.predict(X_test_scaled)

/Users/ismaelcisse/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [49]:
y_pred

array(['No', 'No', 'No', ..., 'No', 'Yes', 'No'], dtype=object)

In [51]:
Y_test

3393     No
6629     No
6051     No
3204     No
6009    Yes
       ...
6894    Yes
5714    Yes
4479     No
6578     No
6023     No
Name: Churn, Length: 1409, dtype: object

In [54]:
# Fit a Decision Tree Classifier on the training data.

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [57]:
model = RandomForestClassifier(max_depth=12, n_estimators=15, random_state=98)
model.fit(X_train, Y_train)

RandomForestClassifier(max_depth=12, n_estimators=15, random_state=98)

In [60]:
plt.figure(figsize=(40, 20))
plot_tree(model.estimators_[0])

NameError: name 'plot_tree' is not defined